/* CSS Reset */

html, body, div, p{
margin: 0;
padding: 0;
border: 0;
}
/* CSS Grid */
/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .grid_1 {
width: 60px;
}
.container_12 .grid_2 {
width: 140px;
}
.container_12 .grid_3 {
width: 220px;
}
.container_12 .grid_4 {
width: 300px;
}
.container_12 .grid_5 {
width: 380px;
}
.container_12 .grid_6 {
width: 460px;
}
.container_12 .grid_7 {
width: 540px;
}
.container_12 .grid_8 {
width: 620px;
}
.container_12 .grid_9 {
width: 700px;
}
.container_12 .grid_10 {
width: 780px;
}
.container_12 .grid_11 {
width: 860px;
}
.container_12 .grid_12 {
width: 940px;
}
.clear{ clear:both;}

/* begin layout */

body{}

#wrapper{
margin:0 auto;
width: 940px;
}

#header{
}

#bg-header {
height:40px;
background:#232323;
}

#bread-header {
color:#fff;
font-family:arial;
font-size:12px;
padding-top: 5px;
}
#bread-header a{
color:#fff;
text-decoration:none;
text-transform:uppercase;
padding:0px 5px;
}
#bread-header ul li {
float:left;
margin-top:10px;
margin-left:5px;
}

#bread-header2 {
height:30px;
background:#232323;
color:#fff;
font-family:arial;
font-size:12px;
}
#bread-header2 a{
color:#fff;
text-decoration:none;
text-transform:uppercase;
padding:0px 5px;
}

#bread-header2 ul {
float:right;
}
#bread-header2 ul li {
float:left;
margin-top:10px;
margin-left:5px;
}

#caixa{
position: relative;
width: 170px;
float: right;
margin-top:2px;
margin-left: 15px;
margin-right: 5px;
}
			
#topo  #caixa #url {
border: solid 2px #c4bebb;
background:#fff;
width: 140px;
height: 18px;
padding-left: 30px;
font-family:arial;
font-size:14px;
}
				
#lupa {
background:url(images/lupa.png)no-repeat;
width: 13px;
height: 13px;
border: none !important;
text-indent: -9000px;
cursor: pointer;
position:absolute;
margin-left:135px;
margin-top:7px;
float:right;
}

.translate {
width:16px;
height:11px;
float:right;
padding-right: 12px;
margin-top: 7px;
}	

#logo{
width:220px;
height:110px;
background: url(images/logo.png) no-repeat;
float:left;
margin-top:5px;
}

#menu {
position:relative;
font-family:arial;
font-size:14px;
height: 135px;
}

#menu p{
color:#969696;
padding-top:30px;
}

#menu ul ul {
	display: none;
}

	#menu ul li:hover > ul {
		display: block;
	}
#menu ul {
	background: #fff; 
	padding: 0 10px;
	list-style: none;
	position: relative;
	display: inline-table;
}

#menu ul li:first-child a{
background:#232323;
color:#fff;
}

	#menu ul:after {
		content: ""; clear: both; display: block;
	}
	
#menu ul li {
	float: left;
}
	#menu ul li:hover {
		background: #232323;
	}
		#menu ul li:hover a {
			color: #fff;
		}
	
	#menu ul li a {
		display: block; padding: 10px;
		color: #232323; text-decoration: none;
	}	
#menu ul li {
	float: left;
}
	#menu ul li:hover {
		background: #232323;
	}
		#menu ul li:hover a {
			color: #fff;
		}
	
	#menu ul li a {
		display: block; padding:15px 10px;
		color: #232323; text-decoration: none;
	}	
#menu ul ul {
	background: #232323; border-radius: 0px; padding: 0;
	position: absolute; top: 100%; 
	
}
	#menu ul li ul li {
		float: none; 
		position: relative;
		
	}
	
		#menu ul li ul {
		-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.6);
		box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.6);
		} 
	
		#menu ul ul li a {
			padding:10px 40px;
			color: #fff;
		}	
			#menu ul ul li a:hover {
				background: #fff;
				color:#232323;
			}
			
#menu ul ul ul {
	position: absolute; left: 100%; top:0;
}			


	
/* --- CONTENT -----------------------------------------------------------------------------------*/

	#banner-principal {
	float:left;
	width: 580px;
	height: 262px;
	}

	#noticias {
	position: relative;	
	float: left;
	width:340px;
	padding:0px 0px 0px 20px;
	}
	
	#noticias h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	line-height:20px;
	color: #333;
	border-bottom:5px solid #333;
	}
	
	#content { 
	float:left;
	width:100%;
	}
	

	#content  h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #333;
}	

	#content h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999;
	padding-bottom: 5px;
	padding-left: 10px;

}

	#noticias p {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	padding-bottom: 20px;
	padding-left: 10px;
}



	#content-meio {
	float:left;
	margin-top:20px;
	}

	
	
	.usuarios {
	font-size: 14px;
	color: #FFF;
	display: block;
	line-height: 35px;
	font-family: Arial, Helvetica, sans-serif;
	}
	
	.usuarios h3 {
	padding-left: 20px;
	}
	
	
	.bg-menu{
	width: 8px;
	float: left;
	height: 36px;
	}
	
/* --- USUARIO ALUNO ------------------------------------------------------------------------------*/
	
	.usuarios#aluno {
	background-color:#f2385a;
	}
	
	#bg-aluno {
	background-color:#f2385a;
	}
	
	#menu_aluno {
	position: relative;
	float: left;
	}

	#menu_aluno ul {
	list-style-type:none;
	width: 220px;
	display:block;
	}
	
	#menu_aluno ul li {
	height: 36px;
	width: 220px;
	margin-top:0px;
	margin-bottom: 4px;
	vertical-align: middle;
	text-align: left;
	}

	#menu_aluno ul li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #111;
	height: 24px;
	text-decoration:none;
	display: block;
	padding-top: 12px;
	padding-left: 20px;
	}
	
	#menu_aluno ul li a:visited {
	text-transform: none;
	}
	
	#menu_aluno ul li a:hover {
	background-color:#f2385a;
	color: #FFF;
	font-weight: bold;
	}

	#menu_aluno ul li a:active {
	text-transform: none;
	}


/* --- FIM DE USUARIO ALUNO -----------------------------------------------------------------------*/

/* --- USUARIO PROFESSOR --------------------------------------------------------------------------*/
	
	.usuarios#professor {
	background-color:#36b1bf;
	}
	
	#bg-professor {
	background-color:#36b1bf;
	}
	
	#menu_professor {
	position: relative;
	float: left;
	margin-left: 20px;
	}
	
	#menu_professor ul li {
	height: 36px;
	width: 220px;
	margin-top:0px;
	margin-bottom: 4px;
	vertical-align: middle;
	text-align: left;
	}

	#menu_professor ul li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #111;
	height: 24px;
	text-decoration:none;
	display: block;
	padding-top: 12px;
	padding-left: 20px;
	}
	#menu_professor ul li a:visited {
	text-transform: none;
	}
	
	#menu_professor ul li a:hover {
	background-color:#36b1bf;
	color: #FFF;
	font-weight: bold;
	}
	
	#menu_professor ul li a:active {
	text-transform: none;
	}

/* --- FIM DE USUARIO PROFESSOR --------------------------------------------------------------------*/

/* --- USUARIO VISITANTE ---------------------------------------------------------------------------*/
	
	.usuarios#visitante {
	background-color:#f5a503;
	}
	
	#bg-visitante {
	background-color:#f5a503;
	}

	#menu_visitante {
	position: relative;
	float: left;
	margin-left: 20px;
	}
	
	#menu_visitante ul li {
	height: 36px;
	width: 220px;
	margin-top:0px;
	margin-bottom: 4px;
	vertical-align: middle;
	text-align: left;
	}

	#menu_visitante ul li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #111;
	height: 24px;
	text-decoration:none;
	display: block;
	padding-top: 12px;
	padding-left: 20px;
	}
/*	
	#menu_visitante ul li a:visited {
	text-transform: none;
	} */
	
	#menu_visitante ul li a:hover {
	background-color:#f5a503;
	color: #FFF;
	font-weight: bold;
	}
	
/*	#menu_visitante ul li a:active {
	text-transform: none;
	} */

/* --- FIM DE USUARIO VISITANTE ---------------------------------------------------------------------*/
/* --- INICIO BARRA LATERAL -------------------------------------------------------------------------------*/

	#barra-lateral {
	float:left;
	width:220px;
	padding:0px 0px 0px 20px;
	}
	
	#eventos {
	position: relative;
	float: left;
	width:220px;
	}
	
	#eventos h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	line-height:20px;
	color: #333;
	border-bottom:5px solid #333;
	}
	
	
	.evento-data { 
	background-color: #969696;
	width: 60px;
	height: 50px;
	float:left;
	border-bottom:1px solid #999;
	}
	
	#eventos h4 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	margin-top: 17px;
	}
	
	#eventos .evento-data:nth-child(6) {
		background-color:#646464 !important;
	}

	.evento-sobre {
	width: 160px;
	height: 50px;
	float:left;
	border-bottom:1px solid #999 !important;
	}
	
	#eventos h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	text-align: left;
	margin: 6px 0 auto 12px;
	display: block;
	padding:3px;
	
	
	}
	
/* --- FIM DE BARRA LATERAL -------------------------------------------------------------------------------*/
	
/* --- FIM DE CONTENT -------------------------------------------------------------------------------*/



#footer{
	background: #232323;
	font-family: tahoma, geneva, verdana, sans-serif;
	font-size: 12px;
	color: #fff;
	float: left;
	margin-top: 20px;
	}
	
	#lista-accordion{
		width: 220px;
		margin-left: 25px;
		line-height: 15px;
		margin: 17px 30px 0px 25px;
		float: left;
	}
	
	#lista-accordion h3 {
		cursor: pointer;
		font-size: 14px;
		line-height: 25px;
		font-family: tahoma, geneva, verdana, sans-serif;
		background: url(images/seta.png) no-repeat right;
	}

	#lista-accordion .ui-accordion-header-active {
		background: url(images/setaoff.png) no-repeat right;
	}
	
	
	#lista-accordion img {
		float: right;
		width: 8px;
		height: 10px;
		margin-right: 100px;
		margin-top: 7px;
	}
	
	#lista-accordion li {
		margin-bottom: 3px;
	}
	
	#lista-accordion a {
		font-family: tahoma, geneva, verdana, sans-serif;
		color: #fff;
		text-decoration: none;
		padding: 0 0 0 7px;
	}
	
	#lista-accordion a:hover {
	text-decoration: underline;
	}
	
#secoes {
	line-height: 15px;
}

#localizacao {
	float: left;
	width: 319px;
	color: #fff;
	margin: 20px 0px 0px 20px;
}

	#localizacao h3 {
		font-family: tahoma, geneva, verdana, sans-serif;
		font-size: 14px;
		float: left;
	}
	
	#localizacao br {
		float: left;
	}
	
#contato {
	float: left;
	width: 295px;
	color: #fff;
	margin: 20px 0px 0px 30px;
}	
	
	#contato h3 {
		font-family: tahoma, geneva, verdana, sans-serif;
		font-size: 14px;
		float: left;
	}	
	
	#contato img{
		float: right;
		width: 8px;
		height: 10px;
		margin-right: 130px;
		margin-top: 2px;
	}	
	
		.newsletter {
			float: left;
			margin-top: 50px;
			width: 300px;
		}

#redes-sociais {
	float: left;
	width: 295px;
}

		.twitter {
			width: 15px;
			height: 15px;
			background: #aadae4;
			float: left;
			margin: 25px 0 0 15px;
		}
		
		.facebook {
			width: 15px;
			height: 15px;
			background: #44619d;
			float: left;
			margin: 25px 0 0 15px;
		}
		
		.in {
			width: 15px;
			height: 15px;
			background: #499ed6;
			float: left;
			margin: 25px 0 0 15px;
		}
		
		.youtube {
			width: 15px;
			height: 15px;
			background: #ed3e3e;
			float: left;
			margin: 25px 0 0 15px;
		}

		
	#rodape {
		width: 940px;
		float: left;
	}	
	
		#rodape p {
			margin: 25px 0px 15px 0px;
			font-size: 12px;
		}
	
		#rodape a {
		text-decoration: none;
		color: #fff;
		font-family: tahoma, geneva, verdana, sans-serif;
		}
		
		
/* PÁGINA ESTÁTICA - PAGE */

#barra-topo {
width:100%;
height:20px;
background:#232323;
margin-top:20px;
}

#zoom-letras {
float:right;
padding:5px 0px;

}

#zoom-letras1 {
background: url(images/zoom-letras.jpg) 0px 0px;
width:17px;
height:16px;
float:left;
}

#zoom-letras2 {
background: url(images/zoom-letras.jpg) -18px 0px;
width:17px;
height:16px;
float:left;
padding:0px 2px 0px 2px;
}

#zoom-letras3 {
background: url(images/zoom-letras.jpg) -40px 0px;
width:17px;
height:16px;
float:left;
}

#page {
margin: 0 auto;
}

#page h1 {
font-family:arial;
font-size:16px;
text-transform:uppercase;
color:#000000;
font-weight:bold;
width:720px;
padding:5px 0px;
float:left;
}

#page h2 {
font-family:arial;
font-size:14px;
color:#000000;
font-weight:bold;
width:85%;
padding:5px 0px;
}

#page p {
margin-top:40px;
margin-bottom:20px;
font-family:arial;
font-size:14px;
line-height:16px;
}

#page p img{
float:left;
padding: 0px 10px 10px 0px;
}

#page p img:nth-child(2){
float:right;
padding: 10px 0px 10px 10px;
}

/* SINGLE */

#single {
margin:0 auto;
float:left;
}

#barra-interna {
float:left;
width:250px;
min-height:520px;
margin-top:20px;
}

#barra-interna h1{
font-size:14px;
font-family:arial;
color:#000;
line-height:18px;
border-bottom:4px solid #212121;
}

#barra-interna ul{
font-size:12px;
font-family:arial;
color:#000;
}

#barra-interna li {
padding:3px 0px 3px 6px;
margin-top:5px;
}

#barra-postagem {
width: 650px;
height: 20px;
background: #232323;
margin-top: 20px;
}

#barra-postagem p {
color:#fff;
font-size:12px;
font-family:arial;
padding:2px;
}

#data {
float:right;
}

#autor {
float:left;
}

#compartilhamento {
float: right;
margin: 0px 25px;
}

#postagem {
float:left;
width:650px;
margin-left: 38px;
margin-bottom: 40px;
}

#postagem h1 {
width:590px;
font-family:arial;
font-size:16px;
text-transform:uppercase;
color:#000000;
font-weight:bold;
padding:5px 0px;
float:left;
}

#postagem h2 {
font-family:arial;
font-size:14px;
color:#000000;
font-weight:bold;
padding:8px 0px;
float:left;
}

#postagem p {
font-family:arial;
font-size:14px;
line-height:16px;
float:left;
}

#relacionadas{
float: left;
margin-top: 30px;
margin-bottom: 30px;
width: 650px;
margin-left: 290px;
}

#relacionadas h1 {
font-size:14px;
font-family:arial;
color:#000;
line-height:20px;
border-bottom:4px solid #212121;
margin-bottom:12px;
}

#relacionadas ul {
float:left;
list-style: none;
}

#relacionadas li {
text-transform:uppercase;
font-family:arial;
font-size:12px;
padding:4px;
font-weight:bold;
}

	