/* CSS Reset */

html, body, div, p{
margin: 0;
padding: 0;
border: 0;
}
/* CSS Grid */
/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .grid_1 {
width: 60px;
}
.container_12 .grid_2 {
width: 140px;
}
.container_12 .grid_3 {
width: 220px;
}
.container_12 .grid_4 {
width: 300px;
}
.container_12 .grid_5 {
width: 380px;
}
.container_12 .grid_6 {
width: 460px;
}
.container_12 .grid_7 {
width: 540px;
}
.container_12 .grid_8 {
width: 620px;
}
.container_12 .grid_9 {
width: 700px;
}
.container_12 .grid_10 {
width: 780px;
}
.container_12 .grid_11 {
width: 860px;
}
.container_12 .grid_12 {
width: 940px;
}
.clear{ clear:both;}

/* begin layout */

body{}

#wrapper{}

#header{
margin:0 auto;
}

#bread-header {
height:30px;
background:#232323;
}

#logo{
width:220px;
height:110px;
background:url(images/logo.png)no-repeat;
float:left;
margin-top:5px;
}

#menu {
position:relative;
font-family:arial;
font-size:14px;
}

#menu p{
color:#969696;
padding-top:30px;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}
nav ul {
	background: #fff; 
	padding: 0 10px;
	list-style: none;
	position: relative;
	display: inline-table;
}
nav ul li:nth-child(1){
background:#232323;
}


	nav ul:after {
		content: ""; clear: both; display: block;
	}
	
nav ul li {
	float: left;
}
	nav ul li:hover {
		background: #232323;
	}
		nav ul li:hover a {
			color: #fff;
		}
	
	nav ul li a {
		display: block; padding: 10px;
		color: #232323; text-decoration: none;
	}	
nav ul li {
	float: left;
}
	nav ul li:hover {
		background: #232323;
	}
		nav ul li:hover a {
			color: #fff;
		}
	
	nav ul li a {
		display: block; padding:15px 10px;
		color: #969696; text-decoration: none;
	}	
nav ul ul {
	background: #232323; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
	nav ul ul li {
		float: none; 
		border-top: 1px solid #969696;
		position: relative;
	}
		nav ul ul li a {
			padding:10px 40px;
			color: #fff;
		}	
			nav ul ul li a:hover {
				background: #fff;
				color:#232323;
			}
			
nav ul ul ul {
	position: absolute; left: 100%; top:0;
}			
#footer{}