/* CSS Reset */

html, body, div, p{
margin: 0;
padding: 0;
border: 0;
}
/* CSS Grid */
/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .grid_1 {
width: 60px;
}
.container_12 .grid_2 {
width: 140px;
}
.container_12 .grid_3 {
width: 220px;
}
.container_12 .grid_4 {
width: 300px;
}
.container_12 .grid_5 {
width: 380px;
}
.container_12 .grid_6 {
width: 460px;
}
.container_12 .grid_7 {
width: 540px;
}
.container_12 .grid_8 {
width: 620px;
}
.container_12 .grid_9 {
width: 700px;
}
.container_12 .grid_10 {
width: 780px;
}
.container_12 .grid_11 {
width: 860px;
}
.container_12 .grid_12 {
width: 940px;
}
.clear{ clear:both;}

/* begin layout */

body{}

#wrapper{}

#header{
margin:0 auto;
}

#bg-header {
height:40px;
background:#232323;
}

#bread-header {
color:#fff;
font-family:arial;
font-size:12px;
padding-top: 5px;
}
#bread-header a{
color:#fff;
text-decoration:none;
text-transform:uppercase;
padding:0px 5px;
}
#bread-header ul li {
float:left;
margin-top:10px;
margin-left:5px;
}

#bread-header2 {
height:30px;
background:#232323;
color:#fff;
font-family:arial;
font-size:12px;
}
#bread-header2 a{
color:#fff;
text-decoration:none;
text-transform:uppercase;
padding:0px 5px;
}

#bread-header2 ul {
float:right;
}
#bread-header2 ul li {
float:left;
margin-top:10px;
margin-left:5px;
}

#caixa{
position: relative;
width: 170px;
float: right;
margin-top:2px;
margin-left: 15px;
margin-right: 5px;
}
			
#topo  #caixa #url {
border: solid 2px #c4bebb;
background:#fff;
width: 140px;
height: 18px;
padding-left: 30px;
font-family:arial;
font-size:14px;
}
				
#lupa {
background:url(images/lupa.png)no-repeat;
width: 13px;
height: 13px;
border: none !important;
text-indent: -9000px;
cursor: pointer;
position:absolute;
margin-left:135px;
margin-top:7px;
float:right;
}

.translate {
width:16px;
height:11px;
float:right;
padding-right: 12px;
margin-top: 7px;
}	

#logo{
width:220px;
height:110px;
background:url(images/logo.png)no-repeat;
float:left;
margin-top:5px;
}

#menu {
position:relative;
font-family:arial;
font-size:14px;
}

#menu p{
color:#969696;
padding-top:30px;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}
nav ul {
	background: #fff; 
	padding: 0 10px;
	list-style: none;
	position: relative;
	display: inline-table;
}

nav ul li:first-child a{
background:#232323;
color:#fff;
}

	nav ul:after {
		content: ""; clear: both; display: block;
	}
	
nav ul li {
	float: left;
}
	nav ul li:hover {
		background: #232323;
	}
		nav ul li:hover a {
			color: #fff;
		}
	
	nav ul li a {
		display: block; padding: 10px;
		color: #232323; text-decoration: none;
	}	
nav ul li {
	float: left;
}
	nav ul li:hover {
		background: #232323;
	}
		nav ul li:hover a {
			color: #fff;
		}
	
	nav ul li a {
		display: block; padding:15px 10px;
		color: #232323; text-decoration: none;
	}	
nav ul ul {
	background: #232323; border-radius: 0px; padding: 0;
	position: absolute; top: 100%; 
	
}
	nav ul li ul li {
		float: none; 
		position: relative;
		
	}
	
		nav ul li ul {
		-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.6);
		box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.6);
		} 
	
		nav ul ul li a {
			padding:10px 40px;
			color: #fff;
		}	
			nav ul ul li a:hover {
				background: #fff;
				color:#232323;
			}
			
nav ul ul ul {
	position: absolute; left: 100%; top:0;
}			
#footer{
	background: #232323;
	font-family: tahoma, geneva, verdana, sans-serif;
	font-size: 12px;
	color: #fff;
	float: left;
	}
	
	#lista-accordion{
		width: 280px;
		margin-left: 25px;
		line-height: 15px;
		margin: 17px 0px 0px 25px;
		float:left;
	}
	
	#lista-accordion h3 {
		cursor: pointer;
		font-size: 14px;
		line-height: 25px;
		font-family: tahoma, geneva, verdana, sans-serif;
	}
	
	#lista-accordion h2 {
		cursor: pointer;
		font-size: 14px;
		line-height: 25px;
		font-family: tahoma, geneva, verdana, sans-serif;
		margin-top: 20px;
	}
	
	#lista-accordion img {
		float: right;
		width: 8px;
		height: 10px;
		margin-right: 100px;
		margin-top: 7px;
	}
	
	#lista-accordion a {
		font-family: tahoma, geneva, verdana, sans-serif;
		color: #fff;
		text-decoration: none;
	}
	
	a:hover {
	text-decoration: underline;
	}
	
#secoes {
	line-height: 15px;
}

#localizacao {
	float: left;
	width: 260px;
	color: #fff;
	margin: 20px 0px 0px 20px;
}

	#localizacao h3 {
		font-family: tahoma, geneva, verdana, sans-serif;
		font-size: 14px;
		float: left;
	}
	
	#localizacao br {
		float: left;
	}
	
#contato {
	float: left;
	width: 295px;
	color: #fff;
	margin: 20px 0px 0px 50px;
}	
	
	#contato h3 {
		font-family: tahoma, geneva, verdana, sans-serif;
		font-size: 14px;
		float: left;
	}	
	
	#contato img{
		float: right;
		width: 8px;
		height: 10px;
		margin-right: 130px;
		margin-top: 2px;
	}	
	
		.newsletter {
			float: left;
			margin-top: 50px;
			width: 300px;
		}

#redes-sociais {
	float: left;
	width: 295px;
}

		.twitter {
			width: 15px;
			height: 15px;
			background: #aadae4;
			float: left;
			margin: 25px 0 0 15px;
		}
		
		.facebook {
			width: 15px;
			height: 15px;
			background: #44619d;
			float: left;
			margin: 25px 0 0 15px;
		}
		
		.in {
			width: 15px;
			height: 15px;
			background: #499ed6;
			float: left;
			margin: 25px 0 0 15px;
		}
		
		.youtube {
			width: 15px;
			height: 15px;
			background: #ed3e3e;
			float: left;
			margin: 25px 0 0 15px;
		}

		
	#rodape {
		width: 940px;
		float: left;
	}	
	
		#rodape p {
			margin: 25px 0px 15px 0px;
			font-size: 12px;
		}
	
		#rodape a {
		text-decoration: none;
		color: #fff;
		font-family: tahoma, geneva, verdana, sans-serif;
		}
		
		
/* PÁGINA ESTÁTICA - PAGE */

#barra-topo {
width:100%;
height:20px;
background:#232323;
margin-top:20px;
}

#zoom-letras {
float:right;
padding:5px 0px;

}

#zoom-letras1 {
background: url(images/zoom-letras.jpg) 0px 0px;
width:17px;
height:16px;
float:left;
}

#zoom-letras2 {
background: url(images/zoom-letras.jpg) -18px 0px;
width:17px;
height:16px;
float:left;
padding:0px 2px 0px 2px;
}

#zoom-letras3 {
background: url(images/zoom-letras.jpg) -40px 0px;
width:17px;
height:16px;
float:left;
}

#page {
margin: 0 auto;
}

#page h1 {
font-family:arial;
font-size:16px;
text-transform:uppercase;
color:#000000;
font-weight:bold;
width:720px;
padding:5px 0px;
float:left;
}

#page h2 {
font-family:arial;
font-size:14px;
color:#000000;
font-weight:bold;
width:85%;
padding:5px 0px;
}

#page p {
margin-top:40px;
margin-bottom:20px;
font-family:arial;
font-size:14px;
line-height:16px;
}

#page p img{
float:left;
padding: 0px 10px 10px 0px;
}

#page p img:nth-child(2){
float:right;
padding: 10px 0px 10px 10px;
}

/* SINGLE */

#single {
margin:0 auto;
float:left;
}

#barra-interna {
float:left;
width:250px;
min-height:520px;
margin-top:20px;
}

#barra-interna h1{
font-size:14px;
font-family:arial;
color:#000;
line-height:18px;
border-bottom:4px solid #212121;
}

#barra-interna ul{
font-size:12px;
font-family:arial;
color:#000;
}

#barra-interna li {
padding:3px 0px 3px 6px;
margin-top:5px;
}

#barra-postagem {
width: 650px;
height: 20px;
background: #232323;
margin-top: 20px;
}

#barra-postagem p {
color:#fff;
font-size:12px;
font-family:arial;
padding:2px;
}

#data {
float:right;
}

#autor {
float:left;
}

#compartilhamento {
float: right;
margin: 0px 25px;
}

#postagem {
float:left;
width:650px;
margin-left: 38px;
margin-bottom: 40px;
}

#postagem h1 {
width:590px;
font-family:arial;
font-size:16px;
text-transform:uppercase;
color:#000000;
font-weight:bold;
padding:5px 0px;
float:left;
}

#postagem h2 {
font-family:arial;
font-size:14px;
color:#000000;
font-weight:bold;
padding:8px 0px;
float:left;
}

#postagem p {
font-family:arial;
font-size:14px;
line-height:16px;
float:left;
}

#relacionadas{
float: left;
margin-top: 30px;
margin-bottom: 30px;
width: 650px;
margin-left: 290px;
}

#relacionadas h1 {
font-size:14px;
font-family:arial;
color:#000;
line-height:20px;
border-bottom:4px solid #212121;
margin-bottom:12px;
}

#relacionadas ul {
float:left;
list-style: none;
}

#relacionadas li {
text-transform:uppercase;
font-family:arial;
font-size:12px;
padding:4px;
font-weight:bold;
}

	